.main-header {
  position: sticky;
  top: 0;
  min-height: 70px;
  z-index: 100;
}

.Head-main-app {
  display: flex;
  background-color: #35a400cc;
}

.logo img {
  width: 50px;
  height: 50px
}

.sub-menu{
  background-color: yellow;
  width: 100px;
  position: absolute;
  left: 480px;

}
.Menu-bar {
  display: none;
}

.nav-elements ul {
  list-style: none;
  /* margin-left: 20%; */
  display: flex;
}

.nav-elements ul li {
  margin-left: 25px;
}

.nav-elements ul li a {
  text-decoration: none;
  margin-left: 5px;
  color: white;
  font-size: large;
  font-family: system-ui;
  transition: all 0.5s ease-in-out;
}

.nav-elements ul li a:hover {
  color: #145ca9;
}

.btn {
  margin: 10px;
  margin-left: 35%;
}


@media only screen and (max-width: 600px) {
  .logo img{
    width: 67px;
    height: 80px;
  }
  .Menu-bar {
    display: block;
    cursor: pointer;
    margin-left: 255px;
  }
  .nav-elements {
    position: absolute;
    right: 0;
    width: 0;
    top: 30px;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }
  .nav-elements.active{
   width: 300px;
   background-color: #35a400cc;
  }
  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }
  .nav-elements ul li {
     margin: 10px;
  }
  .btn {
    position: absolute;
    right: 0;
    width: 0;
    top: 350px;
    display: flex;
    margin-left: 50px;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }
  .btn.active{
    width: 343px;
    margin-right: -42px;
    background-color: #35a400cc;
  }



}