.main-header {
  position: sticky;
  top: 0;
  min-height: 70px;
  z-index: 100;
}

.Head-main-app {
  display: flex;
  background-color: #35a400cc;
}

.logo img {
  width: 50px;
  height: 50px
}

.sub-menu {
  background-color: yellow;
  width: 100px;
  position: absolute;
  left: 480px;
}

/* a:actibe */
.Menu-bar {
  display: none;
}

.nav-elements ul {
  list-style: none;
  display: flex;
}

.nav-elements ul li {
  margin-left: 25px;
}

.nav-elements ul li a {
  text-decoration: none;
  margin-left: 5px;
  color: white;
  font-size: large;
  font-family: system-ui;
  transition: all 0.5s ease-in-out;
}

.nav-elements ul li a:hover {
  color: #145ca9;
}

.nav-elements ul li a:active {
  color: #145ca9;
}

.btn {
  margin: 10px;
  margin-left: 35%;
}

/* style for the clint side Header  */
.main-header-clint {
  position: sticky;
  top: 0;
  min-height: 70px;
  z-index: 100;
  margin-top: 10px;
}

.Head-main-app-clint {
  display: flex;
  background-color: white;
  border-bottom: 1px solid rgb(87, 78, 78);
}

.logo-clint img {
  width: 100px;
  height: 50px;
  margin-left: 220%;
}

.Menu-bar-clint {
  display: none;
}

.nav-elements-clint {
  margin-left: 15%;
}

.nav-elements-clint ul {
  list-style: none;
  display: flex;
}

.nav-elements-clint ul li {
  margin-left: 25px;
}

.nav-elements-clint ul li a {
  text-decoration: none;
  margin-left: 5px;
  color: rgba(98, 100, 106, 1);
  font-size: large;
  font-family: system-ui;
}

.nav-elements-clint ul li input {
  min-width: 550px;
  min-height: 35px;
  margin-top: -5px;
  color: rgba(98, 100, 106, 1);
  border: 1px solid;
  font-family: system-ui;
}








/* clint navbar end hear  */



.services-cantainer li {
  list-style: none;
  margin-top: 5px;
}

.Services-list li a {
  text-decoration: none;
  font-size: large;
  font-family: system-ui;
  transition: all 0.5s ease-in-out;
  margin-left: 0;
}

.Services-list li a:hover {
  color: #145ca9;
  transform: translateY(-10px);
  margin-left: 5px;
}

.sub-menu {
  background-color: #5DADE2;
  margin-top: 24px;
  margin-left: 50px;
}

.Slider {
  width: 100%;
  height: 600px;
  margin-top: -13px;
}

.Contant p {
  border: 2px solid rgb(117, 215, 117);
  width: 400px;
  background-color: #40a9ff;
  font-family: system-ui;
  text-align: justify;
  border-radius: 13px;
  padding: 30px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 4px 6px #35a400cc;
  margin-left: 100px;
}

.Contant p:hover {
  background-color: #35a400cc;
}

.About-img {
  margin-top: -25px;
  margin-left: 200px;
}

.Contact-Us {
  color: white;
}

.Contact-Us li {
  text-decoration: none;
  list-style: none;
  color: white;
}

.Icoan-Footer {
  font-size: 25px;
  color: rgba(64, 65, 69, 1);
  margin-right: 10px;
  transition: all 0.5s ease-in-out;
}

.Icoan-Footer:hover {
  color: rgba(29, 191, 115, 1);
}

.Contact-Us li a {
  color: rgba(64, 65, 69, 1);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  margin-left: 0px;
  font-size: large;
}

.Contact-Us li a:hover {
  transform: translateY(-10px);
  margin-left: 5px;
  color: rgba(29, 191, 115, 1);
}

.Quiks-Links ul {
  list-style: none;
}

.Quiks-Links ul li {
  margin-top: 5px;
}

.Quiks-Links ul li a {
  text-decoration: none;
  color: rgba(64, 65, 69, 1);
  margin-left: 0;
  transition: all 0.5s ease-in-out;
  font-size: large;
}

.Quiks-Links ul li a:hover {
  color: rgba(29, 191, 115, 1);
  margin-left: 5px;
  text-decoration: underline;
}

.Social-Medias {
  display: flex;
  justify-content: center;
  /* Horizontally center the icons */
  gap: 10px;
  /* Adjust the space between icons as needed */
  justify-content: space-around;
}

.Social-Medias ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-icons-list li {
  margin: 0;
  padding: 0;
}



/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 120vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 35%;
  margin: 0 auto;
  height: auto;
  max-height: 85vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(32% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}



.page-container-App {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

































@media only screen and (max-width: 600px) {
  .logo img {
    width: 67px;
    height: 80px;
  }

  .Menu-bar {
    display: block;
    cursor: pointer;
    margin-left: 255px;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    width: 0;
    top: 30px;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 300px;
    background-color: #35a400cc;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin: 10px;
  }

  /* for the clint side header bar  */
  .logo-clint img {
    margin-left: -10px;
  }

  .Menu-bar-clint {
    display: block;
    cursor: pointer;
    margin-left: 255px;
  }

  .nav-elements-clint {
    position: absolute;
    right: 0;
    width: 0;
    top: 30px;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements-clint.active {
    width: 300px;
    background-color: #fff;
  }

  .nav-elements-clint ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements-clint ul li {
    margin: 10px;
  }

  /* clint side header is end */
  .btn {
    position: absolute;
    right: 0;
    width: 0;
    top: 350px;
    display: flex;
    margin-left: 50px;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .btn.active {
    width: 303px;
    background-color: #35a400cc;
    margin-right: 0px;
  }

  .Slider {
    width: 100%;
    height: 300px;
    margin-top: -13px;
  }

  .Contant p {
    margin: 5px;
  }

  .About-img {
    margin-top: -25px;
    margin-left: 0px;
  }








}