

.main-header {
  position: sticky;
  top: 0;
  min-height: 70px;
  z-index: 100;
  /* margin-bottom: 50px; */
}

.Head-main-app {
  display: flex;
  background-color: #35a400cc;
}

.logo img {
  width: 50px;
  height: 50px
}

.sub-menu {
  background-color: yellow;
  width: 100px;
  position: absolute;
  left: 480px;

}
/* a:actibe */
.Menu-bar {
  display: none;
}

.nav-elements ul {
  list-style: none;
  /* margin-left: 20%; */
  display: flex;
}

.nav-elements ul li {
  margin-left: 25px;
}

.nav-elements ul li a {
  text-decoration: none;
  margin-left: 5px;
  color: white;
  font-size: large;
  font-family: system-ui;
  transition: all 0.5s ease-in-out;
}

.nav-elements ul li a:hover {
  color: #145ca9;
}

.nav-elements ul li a:active {
  color: #145ca9;
}


.btn {
  margin: 10px;
  margin-left: 35%;
}


.services-cantainer li {
  list-style: none;
  margin-top: 5px;
}

.Services-list li a {
  text-decoration: none;
  font-size: large;
  font-family: system-ui;
  transition: all 0.5s ease-in-out;
  margin-left: 0;
}

.Services-list li a:hover {
  color: #145ca9;
  transform: translateY(-10px);
  margin-left: 5px;
}

.sub-menu {
  background-color: #5DADE2;
  margin-top: 24px;
  margin-left: 50px;
}

.Slider {
  width: 100%;
  height: 600px;
  margin-top: -13px;
}
.Contant p{
  border: 2px solid rgb(117, 215, 117);
  width: 400px;
  background-color: #40a9ff;
  font-family: system-ui;
  text-align: justify;
  border-radius: 13px;
  padding: 30px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 4px 6px #35a400cc;
  margin-left: 100px;
} 
.Contant p:hover{
   background-color: #35a400cc;
}
.About-img{
  margin-top: -25px;
  margin-left: 200px;
}

.Contact-Us{
   color: white;
}
.Contact-Us li{
   text-decoration: none;
   list-style: none;
   color: white;
}

.Icoan-Footer{
  font-size: 25px;
  color: white;
  margin-right: 10px;
  transition: all 0.5s  ease-in-out;  
}
.Icoan-Footer:hover{
  color: #145ca9;
}
.Contact-Us li a{
  color: white;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  margin-left: 0px;
  font-size: large;
}
.Contact-Us li a:hover{
  transform: translateY(-10px);
  margin-left: 5px;
  color: #145ca9;
}

.Quiks-Links ul {
    list-style: none;
}

.Quiks-Links ul li {
  margin-top: 5px;
}

.Quiks-Links ul li a {
   text-decoration: none;
   color: white;
   margin-left: 0;
   transition: all 0.5s ease-in-out;
   font-size: large;
}

.Quiks-Links ul li a:hover{
  color: #145ca9;
  margin-left: 5px;
  text-decoration: underline; 
}

.Social-Medias {
  display: flex;
  justify-content: center; /* Horizontally center the icons */
  gap: 10px; /* Adjust the space between icons as needed */
  justify-content: space-around;
}

.Social-Medias ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-icons-list li  {
  margin: 0;
  padding: 0;
}



































@media only screen and (max-width: 600px) {
  .logo img {
    width: 67px;
    height: 80px;
  }

  .Menu-bar {
    display: block;
    cursor: pointer;
    margin-left: 255px;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    width: 0;
    top: 30px;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 300px;
    background-color: #35a400cc;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin: 10px;
  }

  .btn {
    position: absolute;
    right: 0;
    width: 0;
    top: 350px;
    display: flex;
    margin-left: 50px;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .btn.active {
    width: 303px;
    background-color: #35a400cc;
    margin-right: 0px;
  }

  .Slider {
    width: 100%;
    height: 300px;
    margin-top: -13px;
  }
  .Contant p{
    margin: 5px;
  }
  .About-img{
    margin-top: -25px;
    margin-left: 0px;
  }
   
 
  

 



}