.Name {
    text-align: center;
    background-color: rgba(250, 250, 250, 1);
    max-width: 267.4px;
    height: 250px;
    padding-bottom: 30px;
    padding-top: 30px;

}
.Hi-clint {
    margin-left: 5%;
    margin-top: 10px;
}
.clint-slider {
    margin-left: -350px;
    margin-right: 50px;
}
.Clint-top- {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-right: 105px;
}

.Clint-top- li {
    margin-right: 10px;
    display: flex;
}

.Clint-top- li a {
    color: rgba(98, 100, 106, 1);
    text-decoration: none;
    margin-left: 30px;
    cursor: pointer;
}

.service-tittel {
    text-decoration: none;
    margin-left: 5px;
    margin-top: -10px;
    color: rgba(116, 118, 126, 1);
}

.service-tittel:hover {
    text-decoration: underline;
}



/* Custom CSS for arrow positions */
.custom-button-group {
    text-align: end;
}

.btn-custom {
    background-color: rgba(245, 245, 245, 1);
    box-shadow: 0 4px 6px rgba(245, 245, 245, 1);
}



/* Define CSS styles for different screen sizes using a similar object structure */
/* Note: You can adjust the breakpoint values and styles as needed */

/* Super Large Desktop */
@media only screen and (min-width: 3000px) {
    /* Add your styles here */
}

/* Desktop */
@media only screen and (min-width: 1024px) and (max-width: 1400px) {
    .clint-slider {
        margin-left: -300px;
        margin-right: 50px;
    }
    .Hi-clint {
        margin-left: 10%;
        margin-top: 10px;
        margin-right: -20%;
    }
}

/* Tablet */
@media only screen and (min-width: 464px) and (max-width: 1024px) {
    .clint-slider {
        margin-left: -150px;
        /* margin-right: 50px; */
    }
    .Hi-clint {
        margin-left: 19%;
        margin-top: 10px;
        margin-right: -60%;
    }
}

/* Mobile */
@media only screen and (max-width: 464px) {
    .clint-slider {
        margin: 0px;
        margin-right: 50px;
    }

    .Hi-clint {
        margin-left: 10%;
        margin-top: 10px;
        margin-right: -10%;
    }
}